<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cyclejs SPA template">
    <meta name="author" content="steve@opendirective.com">
    <title>Cyclejs SPA template</title>
</head>

<body>
    <div id="app"></div>
</body>

</html>
